node_modules/
output/

.client-preview.log
.server.log
.server.err.log
client-dev.log
client-dev.err.log
server-dev.log
server-dev.err.log

client/node_modules/
server/node_modules/
client/dist/
server/dist/

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
